<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Document</title>
</head>

<body>
	<div id="app"></div>

	<script src="../js/vue.js" type="text/javascript"></script>
	<script>
		new Vue({
			el: '#app',
			template: `
				<div :text='text'>
					<div v-html=m_html></div>
					<hr >
					{{text}}
					<hr >
					<button @click="btn(0)">点击减少1</button>
					{{num}}
					<button @click="btn(1)">点击增加1</button>
					<hr >
					单向输入框：<input type="" name="" id="" :value="each_bind" />
					<br>
					双向输入框：<input type="text" name="" id="" v-model="each_bind" />
					<div>双向数据流三：{{each_bind}}</div>
					<hr>
					<ul>
						<li v-for="(value,index) in stus1">
							value：{{value}}
							index：{{index}}
						</li>
					</ul>
					<ul>
						<li v-for="(value,key,i) in stus2">
							value：{{value}}
							key：{{key}}
							i：{{i}}
						</li>	
					</ul>
				</div>
			`,
		data: function () {
			return {
				m_html: '<span>html标签</span>',
				text: '文本',
				num: 0,
				each_bind: '1112221',
				stus1: ['A', 'B', 'C'],
				stus2: {
					'A': '张三',
					'B': '李四',
					'C': '王五'
				}
			}
		},
		methods: {
			btn: function (e) {
				if (e == 0) {
					return this.num--;
				} else {
					return this.num++;
				}
			}
		}
	})
</script>

</html>