<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>

    <script src="../js/vue.js"></script>
    <script>
        // beforeCreate
        // created
        // beforeMount
        // mounted
        // beforeUpdate
        // updated
        // activated
        // deactivated
        // beforeDestroy
        // destroyed

        var Test = {
            template: `
                <div>
                    我是test组件
                    <hr/>
                    {{changeData}}
                    <button @click=change>点击改变数据</button>
                </div>
            `,
            data() {
                return {
                    text: 'hello world',
                    changeData: '改变前'
                }
            },
            methods: {
                change: function () {
                    if (this.changeData == '改变前') {
                        this.changeData = '改变后';
                    } else {
                        this.changeData = '改变前';
                    }
                }
            },
            //使用该组件就会触发以下两个事件函数，created可以操作数据，并且实现vue至页面的影响，应用：发起请求
            beforeCreate() {
                //组件创建之前
                console.log('beforeCreate');
            },
            created() {
                //组件创建之后
                console.log('created');
            },
            beforeMount() {
                //vue启动前的DOM，装载数据到DOM之前
                console.log('beforeMount');
            },
            mounted() {
                //vue起作用，装载数据到DOM之后，只执行一次
                console.log('mounted');
            },

            //数据改变影响页面，必须要数据的更改引起了DOM的更改才有效果，应用：beforeUpdate可以获取改变之前的DOM
            beforeUpdate() {
                //DOM改变前
                console.log(this.changeData);
            },
            updated() {
                //DOM改变后
                console.log(this.changeData);
            },

            //使用keep-alive不会销毁，只会停用
            beforeDestroy() {
                //销毁之前（对应父组件 v-if false，就销毁当前组件
                console.log('beforeDestroy');
            },
            destroyed() {
                //销毁最终都是做一些其他功能的释放
                console.log('destroyed');
            },

            //监测keep-alive
            activated() {
                console.log('组件被激活了');
            },
            deactivated() {
                console.log('组件被停用了');
            }
            //created和actived都是v-if="true"子组件的状态
            //created没有被keep-alive内置组件包裹，actived被包裹了
            //销毁和停用同上
        };
        var App = {
            data() {
                return {
                    isExist1: true,
                    isExist2: true
                }
            },
            components: {
                test: Test
            },
            template: `
                    <div>
                        <keep-alive>
                            <test v-if='isExist1'></test>
                        </keep-alive>
                        <hr/>
                        <test v-if='isExist2'></test>
                        <button @click='isExist1=!isExist1'>{{isExist1?"销毁":"创建"}}子组件</button>
                        <button @click='isExist2=!isExist2'>{{isExist2?"激活":"停用"}}子组件</button>
                        <br>
                        看console窗口的不同
                    </div>
                    `
        };
        new Vue({
            el: '#app',
            components: {
                'app': App
            },
            template: '<app/>'
        })
    </script>
</body>

</html>