<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>

    <script src="../../js/vue.js"></script>
    <script>
        var MyHeader = {
            template: '<div>头部组件</div>'
        };
        var MyBody = {
            template: '<div>身体组件</div>'
        };
        var Myfooter = {
            data: function () {
                return {
                    textXXX: '123'
                }
            },
            template: `
            <div>
                <div>底部组件</div>
                <input type='text' v-model='textXXX'></input>
                <div>{{textXXX}}</div>
                <hr/>
                底部使用公共组件
                <my-btn/>
            </div>
            `,
            methods: {
                typeXXX: function (e) {
                    return e;
                }
            }
        };
        Vue.component('my-btn', {
            template: `<button @click=btn>公共按钮</button>`,
            methods: {
                btn: function () {
                    alert('点击公共按钮')
                }
            }
        })
        var App = {
            template: `<div>
                    全局使用公共组件
                    <my-btn/>
                    <hr/>
                    <my-header/>
                    <my-body/>
                    <my-footer/>
                </div>`,
            components: {
                'my-header': MyHeader,
                'my-body': MyBody,
                'my-footer': Myfooter
            }

        };
        new Vue({
            el: '#app',
            components: {
                'app': App
            },
            template: '<app/>'
        })
    </script>
</body>

</html>