<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="#/login">登录页面</a>
    <a href="#/register">注册页面</a>
    <div id="con"></div>
    <hr>
    <div id="app"></div>

    <script src="../js/vue.js"></script>
    <!--1：引入vue-router（核心插件） -->
    <script src="../js/vue-router.js"></script>
    <script>
        //haschange事件，url上的部分锚点数据（#xxx）改变，可以获取到这个事件

        var div = document.getElementById('con');
        window.addEventListener('hashchange', function () {
            console.log(location.hash);
            //根据不同的锚点值做出不同的显示
            switch (location.hash) {
                case '#/login':
                    div.innerHTML = '<h1>登录页面</h1>';
                    break;
                case '#/register':
                    div.innerHTML = '<h1>注册页面</h1>'
                    break;
            }
        });


        var Login = {
            template: `
                    <div>我是登录页面</div>
                `
        };
        var Register = {
            template: `
                    <div>我是注册页面</div>
                `
        };
        // 2：安装插件 => ?
        Vue.use(VueRouter);
        // 3：创建一个路由对象
        var router = new VueRouter({
            // 4：配置路由对象
            routes: [
                {
                    path: '/login',
                    component: Login
                },
                {
                    path: '/register',
                    component: Register
                }
            ]
        });

        // 6：指定路由改变局部位置
        var App = {
            template: `
                    <div>
                       <router-view></router-view>
                    </div>
                    `,
        };
        // 5：将配置好的路由对象关联到vue实例中
        new Vue({
            el: '#app',
            router: router,//需要配置到vue实例中，不加会报错：undefined对象中取不到matched
            components: {
                'app': App
            },
            template: '<app/>'
        });




    </script>
</body>

</html>