* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

.temp1 {
  padding-bottom: 60px;
}

.my-gallery {
  margin: 0 auto;
  width: 90%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.my-gallery figure {
  display: inline-block;
  width: 45%;
}

.my-gallery img {
  width: 100%;
}
