<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>

    <!-- <script type="text/javascript">
        var vueComponent = {
            name: 'jack',
            created1: function () {//this指向一样
                console.log(this);
            },
            created2() {//this指向一样，代码更简洁
                console.log(this);
            },
            created3: () => {//this会向上级function绑定
                console.log(this);
            }
        };
        vueComponent.created1();
        vueComponent.created2();
        vueComponent.created3();
    </script> -->
    <script src="../../../js/vue.js"></script>
    <source type="text/javascript" src="./build.js">
</body>

</html>