<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">123</div>


    <script src="../../js/vue.js"></script>
    <script src="../../js/axios.js"></script>
    <script>
        var App = {
            data() {
                return {
                    res1: '',
                    res2: ''
                }
            },
            template: `
                        <div>
                            <button @click='sendAxios'>发送请求</button>
                            <button @click='cancelAxios'>取消请求</button>
                            <br>
                            选择文件：<input type='file' name='file' @change='changeFile'/>
                        </div>
                    `,
            methods: {
                sendAxios: function () {
                    axios.get('https://weixin.ytzq.com/servlet/json', {
                        params: { weixinpk: 'gh_81586d5e2ea4', openid: 'oryDLji2gcZpuHiwUmCySBh3VLII', funcNo: '5001009' }
                    }).then(function (res) {
                        console.log(res);
                    }).catch(function (res) {
                        console.log(res);
                    })
                },
                cancelAxios: function () {
                   
                },
                changeFile:function(e){
                    console.log(e.target.files[0]);
                }
            }
        };

        //组件内的每一个this对象，都是属于Vue的
        //VUe原型数据，下面的每个this对象都可以使用
        Vue.prototype.$axios = axios;
        new Vue({
            el: '#app',
            components: {
                app: App
            },
            template: '<app/>'
        })
    </script>
</body>

</html>