<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">123</div>


    <script src="../../js/vue.js"></script>
    <script src="../../js/axios.js"></script>
    <script>
        var App = {
            data() {
                return {
                    res1: '',
                    res2: '',
                    file: {},
                    rate: 0,
                    loaded: 0
                }
            },
            template: `
                        <div>
                            <button @click='sendAxios'>发送请求</button>
                            <button @click='cancelAxios'>取消请求</button>
                            <button @click='resume'>重新请求</button>
                            <br>
                            选择文件：<input type='file' name='file' @change='changeFile'/>
                            <br>
                            上传进度：{{rate}}%
                        </div>
                    `,
            created: function () {
                this.$axios.defaults.onUploadProgress = (progressEvent) => {
                    //保存最后上传大小
                    this.loaded = progressEvent.loaded;
                    console.log(progressEvent.loaded);
                    console.log(progressEvent.total);
                    this.rate = (progressEvent.loaded / progressEvent.total) * 100
                };
            },
            methods: {
                cancelAxios: function () {
                    this.source.cancel();
                },
                resume: function () {
                    //剪裁文件         开始            结尾
                    var fileData = this.file.slice(this.loaded + 1, this.file.size);
                    var fd = new FormData();
                    fd.append('file', fileData);

                    //为了后续续传以后再取消
                    var CancelToken = axios.CancelToken;
                    var source = CancelToken.source();
                    this.source = source;

                    this.$axios.post('https://graph.baidu.com/upload?uptime=1551836129089', fd, {
                        //携带取消标识
                        cancelToken: source.token,
                    }).then(res => {
                        console.log(res);
                    }).catch(err => {
                        console.log(err);
                    })
                },
                sendAxios: function () {
                    var CancelToken = axios.CancelToken;
                    var source = CancelToken.source();
                    //保存起来方便取消来调用
                    this.source = source;

                    var fd = new FormData();
                    fd.append('file', this.file);
                    this.$axios.post('https://graph.baidu.com/upload?uptime=1551836129089', fd, {
                        //携带取消标识
                        cancelToken: source.token,
                    })
                },
                changeFile: function (e) {
                    // console.log(e.target.files[0]);
                    this.file = e.target.files[0];
                },
            }
        };

        //组件内的每一个this对象，都是属于Vue的
        //VUe原型数据，下面的每个this对象都可以使用
        Vue.prototype.$axios = axios;
        new Vue({
            el: '#app',
            components: {
                app: App
            },
            template: '<app/>'
        })
    </script>
</body>

</html>