<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .box {
            height: 50px;
            overflow: hidden;
        }

        li {
            list-style: none;
            height: 50px;
            line-height: 50px;
        }
    </style>
</head>

<body>
    <div id="app">123</div>


    <script src="../../js/vue.js"></script>
    <script src="../../js/axios.js"></script>
    <script>
        var App = {
            data() {
                return {
                    list: []
                }
            },
            template: `
                        <div>
                            <button @click='sendAxios'>点击发送请求</button>
                            <div class='box'>
                                <ul ref='list'>
                                    <li v-for="x in list">{{x.str}}</li>
                                </ul>    
                            </div>
                        </div>
                    `,
            methods: {
                sendAxios: function () {
                    var _self = this;
                    //让组件具备axios对象的引用
                    //axios.get(url.options)
                    axios.get('https://weixin.ytzq.com/servlet/json', {
                        params: { weixinpk: 'gh_81586d5e2ea4', openid: 'oryDLji2gcZpuHiwUmCySBh3VLII', funcNo: '5001009' }
                    }).then(function (res) {
                        console.log(res.data);
                        for (let i = 0; i < res.data.results.length; i++) {
                            _self.list.push(res.data.results[i]);
                        };
                        _self.list.push(res.data.results[0]);
                        console.log(_self.$refs.list.style.height);
                        // var num = 0;
                        // var run=setTimeout(() => {
                        //     num++;
                        //     if (num % 50 == 0) {
                        //         run()
                        //     } else {
                        //         _self.$refs.list.style.marginTop = -num + 'px';
                        //     }
                        //     // console.log(_self.$refs.list.style )
                        // }, 10);
                        // run();
                    }).catch(function (res) {
                        console.log(res);
                    })
                }
            }
        };

        //组件内的每一个this对象，都是属于Vue的
        //VUe原型数据，下面的每个this对象都可以使用
        Vue.prototype.$axios = axios;
        new Vue({
            el: '#app',
            components: {
                app: App
            },
            template: '<app/>'
        })
    </script>
</body>

</html>